<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission internet (Firebase / API) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KamusTigaBahasa"
        tools:targetApi="31">

        <!-- ================= SPLASH ACTIVITY (LAUNCHER) ================= -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.KamusTigaBahasa.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- ================= MAIN ACTIVITY ================= -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Tambah activity lain di bawah ini jika ada -->

    </application>

</manifest>
